
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 2px 4px;
    height: 100%;
  }
  .divHeader { 
    width:auto;
    height:100px;   /* you can set the height of logo */
    background-color: #ffffff; 
    color: white; 
    padding: 10px; /* Ajuste conforme necessário */ 
    text-align: center; 
  } 
  .logo-header { 
    max-width: 600px; /* Ajuste a largura máxima da logomarca conforme necessário */ 
    margin: 0 auto; /* Centraliza a logomarca */ 
  } 
  .divFotoHeader{
    height: auto;
    width:  100%;
  }
  img { 
    width: 100%; /* max-width: 200%;  Garante que a logomarca não ultrapasse a largura máxima */
    height: auto; 
    display: block;  
  }
  .ImagemLogoIpersist{
    max-width: 6vw; /*
    width: 80px;
    height: 80px;*/
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
  }
  #ImagemOculos{
    width: 60%;
    height: 60%;
  }
  .image-container {
    position: relative;
    align-items: center;
    max-width: 100vw;
    /* height: 300px;  Ajuste a altura conforme necessário */
    /*height: 100vh;  100% da altura da viewport 
    background-image: url('imagens/grupoPessoasA.svg');*/
    background-size: cover; /* Ou 'contain', dependendo do efeito desejado */
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
  } /*
  .image-container{
    width: 1500px; 
    height: 500px; 
    padding: 5px;
  }*/
  /* AREA HOME */
  .titlePropostaComercial{
    position: relative;
  } 
  p{
    justify-content: center;
    padding: 0px 5px;
  }
  h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #023D54;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .titleProposta{
    color: #023D54;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    font: bold;/*
    margin-bottom: 10px; 
    padding: 0px 20px;*/
  }
  .titlecomercial{
    color: #023D54;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    font: bold;
    margin-top: -30px; /*
    padding: 0px 20px;*/
  }
  .titleIpersist{
    color: #023D54;
    font-family: 'Times New Roman', Times, serif;
    font:bold;
    font-size: 25px;
    margin-top: -30px;/* 
    padding: 0px 10px;*/
  }
  /*AREA DE PRODUTOS E SERVICOS */
  .divProdutoseServicos{
    justify-content: center;
  }
  .d-flex {
    display: flex !important;
  }
  .child-20 {
      flex: 20%;
      margin: -90px;
      align-items: start;
  }
  .child-40 {
      flex: 40%;
      padding: 3px;
      align-items: center;
      justify-content: center;
  }
  .child-50 {
      flex: 50%;
      padding: 10px;
  }
  .child-60 {
      flex: 60%;
      padding: 5px;
      align-items: center;
      text-align: center;
  }
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #023D54;
  text-align: left;
}
  .text {
    flex: 1;
 }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* TABELA*/
.planilhaValores{
  text-align:center;
} 
  .table-title {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #023D54;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
  }
  .cell {
    color: #030000;
    border: 1px solid #023D54;
    padding: 8px;
    text-align: center;
    background-color: #949390;
  }
  #pacotess {
    background-color: #001720;
    color: #ffffff;
  }
  .cell2 {
    background-color:#023D54;
    color: #fbf6f6;
  }
  .styled-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px;
    margin: 30px 0;
    font-weight: bold;
  }
  .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  .styled-table th {
    background-color: #CC0000;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    font-weight: bold;
  }
  .styled-table tbody tr:hover {
    background-color: #e5e5e5;
    font-weight: bold;
  }
  
/* FOOTER  */
.logoFooter { 
  max-width: 600px; /* Ajuste a largura máxima da logomarca conforme necessário */ 
  margin: 0 auto; /* Centraliza a logomarca */ 
}
.parceiros {
  display: flex;
  justify-content: center;
}
.h3{
  text-decoration-color: #f9f9f9;
  text-align: center;
}
.divButton{
  padding: 30px;
  color: rgba(0, 0, 0, 0) ;
}
.button{
  color: rgba(0, 0, 0, 0) ;
  background: linear-gradient(to right, #00697C, #087c85, #15679e); /* Mudança de cor horizontal com três cores */
}
.buttonCadastro{
  align-items: center;
  background-color: rgba(0, 0, 0, 0); /* Cor de fundo transparente */
  width: 80px; /*Diâmetro do botão circular*/
  height: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%; /* Torna o botão circular */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1{
  border: none;
}
.button1:hover {
  border: none;
  background-color:  rgb(17, 156, 156);
}
footer {
  background: linear-gradient(to right, #00697C, #087c85, #15679e); /* Mudança de cor horizontal com três cores */
  padding: 0PX !important; 
  margin: 0px !important;
  text-align: center;
}
 
  
