
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 5px;
  }
  .divHeader { 
    width:auto;
    height:100px;   /* you can set the height of logo */
    background-color: #ffffff; 
    color: white; 
    padding: 10px; /* Ajuste conforme necessário */ 
    text-align: center; 
  } 
  .logo-header { 
    max-width: 600px; /* Ajuste a largura máxima da logomarca conforme necessário */ 
    margin: 0 auto; /* Centraliza a logomarca */ 
  } 
  .divFotoHeader{
    height: auto;
    width:  auto;
  }
  img { 
    width: 100%; /* max-width: 200%;  Garante que a logomarca não ultrapasse a largura máxima */
    height: auto; 
    display: block;  
  }
  .ImagemLogoIpersist{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
  }
  #ImagemOculos{
    width: 60%;
    height: 60%;
  }
  .image-container {
    position: relative;
    align-items: center;
  }
  .image-container, .imagem {
    width: 1500px; 
    height: 500px; 
    padding: 5px;
  }
  .text-overlay {
    position:absolute;
    top: 300px; /* Ajuste a posição vertical conforme necessário bottom: 100px*/
    left: 10px; /* Ajuste a posição horizontal conforme necessário */
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 5px 5px 30px;
    text-align:center;
  }

  /* AREA HOME*/
  .home{
    padding: 3px 3px 3px 3px;
  }  /* AREA HOME */
  .titlePropostaComercial{
    position: relative;
  } 
  h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #023D54;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .titleProposta{
    color: #023D54;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    font: bold;
    margin-bottom: 10px; 
    padding: 0px 20px;
  }
  .titlecomercial{
    color: #023D54;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    font: bold;
    margin-top: -30px; 
    padding: 0px 20px;
  }
  .titleIpersist{
    color: #023D54;
    font-family: 'Times New Roman', Times, serif;
    font:bold;
    font-size: 25px;
    margin-bottom: 10px; 
    margin-top: -30px; 
    padding: 0px 10px;
  }
  /*AREA DE PRODUTOS E SERVICOS */
  .divProdutoseServicos{
    justify-content: center;
  }
  .d-flex {
    display: flex !important;
  }
  .child-20 {
      flex: 20%;
      margin: -90px;
      align-items: start;
  }
  .child-40 {
      flex: 40%;
      padding: 5px;
      align-items: center;
  }
  .child-50 {
      flex: 50%;
      padding: 10px;
  }
  .child-60 {
      flex: 60%;
      padding: 5px;
      align-items: center;
      text-align: center;
  }
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #023D54;
  text-align: left;
}
  .text, .image {
    flex: 1;
 }
  .image img {
    max-width: 100%;
    height: auto;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* TABELA*/
.planilhaValores{
  text-align:center;
} 
  #table-title {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-color: #023D54;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
  }
  .cell {
    color: #030000;
    border: 1px solid #023D54;
    padding: 8px;
    text-align: center;
    background-color: #949390;
  }
  #pacotess {
    background-color: #001720;
    color: #ffffff;
  }
  .cell2 {
    background-color:#023D54;
    color: #fbf6f6;
  }
  .styled-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px;
    margin: 30px 0;
    font-weight: bold;
  }
  .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  .styled-table th {
    background-color: #CC0000;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    font-weight: bold;
  }
  .styled-table tbody tr:hover {
    background-color: #e5e5e5;
    font-weight: bold;
  }
  
/* FOOTER  */
.background-footer {
  background: linear-gradient(to right, #00697C, #087c85, #15679e); /* Mudança de cor horizontal com três cores */
}
.logoFooter { 
  max-width: 600px; /* Ajuste a largura máxima da logomarca conforme necessário */ 
  margin: 0 auto; /* Centraliza a logomarca */ 
} 
.button-container {
  display: flex;
  justify-content: center;
}
.parceiros {
  display: flex;
  justify-content: center;
}
.h3{
  text-decoration-color: #f9f9f9;
  text-align: center;
}
.circular-button {
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.circular-button img {
  display: inline-block;
  width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
}
footer {
  padding: 0PX 2PX 0PX 2PX;
  color: #023D54;
  text-align: center;
}
 
  
